/* Google font */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Pour tout les images */
img {
  width: 100%;
}
/*  Pour les h2 */
.section-titre {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}
.section-titre::after {
  content: "";
  width: 90px;
  height: 5px;
  display: block;
  background: #be7937;
  margin: 10px auto 0;
  border-radius: 5px;
}
/* Partie HEADER */
header {
  position: fixed;
  width: 100%;
  z-index: 5;
  /* background-color: #720a48; */
  background-color: transparent;
  backdrop-filter: blur(10px);

  h1 {
    color: #be7937;
    transition: 0.3s ease;
    font-family: "Merriweather", sans-serif;

    &:hover {
      letter-spacing: 1px;
    }
  }

  .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    a {
      text-decoration: none;
    }
    ul {
      list-style: none;
    }

    .nav-menu {
      display: flex;
      gap: 25px;
    }

    .nav-menu .nav-link {
      padding: 10px 18px;
      /* color: #fff; */
      color: #be7937;
      font-size: 1.3em;
      font-weight: bold;
      border-radius: 20px;
      transition: 0.3s ease;

      &:hover {
        letter-spacing: 1px;
        border-right: 5px solid #be7937;
      }
    }
    .nav-icones i {
      padding: 0 20px;
      color: #be7937;
    }
  }

  /* Formulaire d'inscription */
  .user-container {
    position: relative;
    display: inline-block;

    .utilisateur {
      font-size: 24px;
      cursor: pointer;
    }

    /* Pour mettre le formulaire cacher pr defaut */
    .form-inscription {
      display: none;
      position: absolute;
      top: 40px; /* pour le mettre sous l'icône */
      right: 0;
      width: 250px;
      padding: 15px;
      background: #6e0a5a84;
      /* background: transparent; */
      box-shadow: 0 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 1000;

      h3 {
        margin: 0 0 10px;
        font-size: 18px;
        text-align: center;
      }

      label {
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 8px;
        background: pink;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        width: 100%;
        padding: 10px;
        background: palevioletred;
        color: #720a48;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background: #b3009edb;
      }
    }
  }
  /* Afficher le formulaire au survol */
  .user-container:hover .form-inscription {
    display: block;
  }
}
/* Section accueil */
.section-accueil {
  /* min-height: 100vh; */
  height: 100vh;
  margin: 0;
  background: linear-gradient(
    45deg,
    #720a48,
    #94316c,
    #5f004f,
    #a50267,
    #720a48
  );
  /* background: linear-gradient(120deg, #720a48, #ff0099, #ff9c00); */
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  /* background-color: #720a48; */

  .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    justify-content: space-between;

    .accueil-details {
      margin-left: 15px;

      .titre {
        font-size: 2em;
        color: #be7937;
        font-family: "Merriweather", sans-serif;
      }

      .sous-titre {
        font-size: 1.4em;
        max-width: 70%;
        margin: 24px 0 40px;
        font-weight: 700;
      }
      .buttons {
        margin: 20px 0;
        /* border: 1px solid red; */
        display: flex;
        gap: 25px;

        a {
          text-decoration: none;
          font: 1.2em "Merriweather", sans-serif;
        }

        .button {
          padding: 10px 26px;
          border: 2px solid transparent;
          color: #720a48;
          border-radius: 15px;
          background: #92571f;
          transition: 0.3s ease;
        }

        .button:hover,
        .contact {
          border-color: #fff;
          color: #fff;
          background: transparent;
        }

        .contact:hover {
          color: #720a48;
          border-color: #92571f;
          background: #92571f;
        }
      }
    }
    .accueil-image-wrap {
      min-width: 350px;
      margin-left: 10px;
      img {
        transition: all 1s ease-in-out;

        &:hover {
          filter: drop-shadow(1px 1px 50px rgb(4, 28, 88));
        }
      }
    }
  }
}
/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* Section a propos */
.section-apropos {
  padding: 120px 0;
  background: rgba(254, 193, 202, 0.427);

  .section-content {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;

    .apropos-image-wrap {
      .apropos-image {
        margin-left: 25px;
        width: 400px;
        height: 400px;
        object-fit: cover;
        border-radius: 20%;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .apropos-articles {
      max-width: 50%;

      .apropos-details li {
        padding: 10px;
      }
      .apropos-titre {
        padding: 0;
      }

      .texte {
        line-height: 20px;
        margin: 50px 0 30px;
        text-align: center;
        font-size: 1.2em;
      }
      .apropos-social-links {
        display: flex;
        gap: 25px;
        justify-content: center;

        .social-link {
          color: #720a48;
          font-size: 30px;
          transition: 0.2s, font-size 0.3s ease;

          &:hover {
            color: #be7937;
            font-size: 35px;
          }
        }
      }
    }
  }
  .btn-animee {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #720a48;
    font-family: "Merriweather", sans serif;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: #0b0a0a;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
  }
  .btn-animee::before {
    content: "";
    position: absolute;
    top: 0;
    left: -24px;
    width: 0;
    height: 100%;
    background-color: #be7937;
    transform: skewX(45deg);
    transition: width 0.7s ease-in-out;
    z-index: -1;
  }
  .btn-animee:hover {
    color: #720a48;
    border-radius: 10px;
  }
  .btn-animee:hover::before {
    width: 150%;
  }
}

/* Section notre histoire  */
.section-histoire {
  background-color: #fadadd;

  .banniere {
    background: url(../images/Oursons-12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    background-attachment: fixed;
  }

  .section-titre {
    padding: 15px;
  }

  .texte {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    font-family: "Poppins", sans-serif;
  }

  .img-animation {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .img-animation img {
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    transition: all ease-in-out 0.5s;
  }
  .img-animation img:hover {
    width: 45%;
    box-shadow: 10px 10px 5px rgba(62, 1, 32, 0.461);
  }

  .text-animation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
    color: #0b0a0a;
    font-family: "Poppins", sans-serif;

    h2 {
      font-size: 3.5em;
    }
    h2 > span {
      position: relative;
      display: inline-block;
      color: #be7937;
      height: 1.25em;
      vertical-align: bottom;
      overflow: hidden;
    }
    h2 > span > span {
      display: block;
      animation: animateWords 5s infinite ease;
    }
  }
}
/*  pour l'animation du texte */
@keyframes animateWords {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}

/* Sections Produits */
.section-produits {
  color: #720a48;
  background-color: rgba(254, 193, 202, 0.427);
  padding: 50px 0 100px;

  .produits-content {
    padding: 30px;
    width: 90%;
    margin: 0 auto;

    .produits-list {
      display: flex;
      flex-wrap: wrap;
      /* gap: 30px; */
      align-items: center;
      justify-content: space-between;

      .produits-item {
        gap: 35px;
        padding: 25px;
        height: 50%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;

        /* width: calc(100% / 3 - 100px); */

        .produit-image {
          max-width: 100%;
          height: 100%;
          aspect-ratio: 1;
          margin-bottom: 15px;
          border-radius: 15%;
          object-fit: cover;
          cursor: pointer;
          box-shadow: 15px 5px 5px rgba(226, 144, 215, 0.463);
          transition: 0.6s ease-in-out;

          &:hover {
            transform: scale(1.05);
          }
        }
        .titre {
          margin: 0;
          font-size: 20px;
          font-weight: bold;

          .texte {
            width: 100%;
          }
        }
      }
    }
  }
}
